Вам необходимо загрузить набор данных «**subset-covid-data.csv**», содержащий данные о количестве случаев и смертей, связанных с пандемией **COVID-19**, для разных стран. https://github.com/DataRepo2019/Data-files или  https://github.com/DataRepo2019/Data-files/blob/master/subset-covid-data.csv

# **ЗАДАНИЕ 1**
Напишите функцию / индексатор / атрибут в Pandas для:

In [1]:
# 1.1	Импорта данных из файла HTML.
tables = pd.read_html(
    'ссылка',
    match="название")

In [2]:
# 1.2	Экспорта данных в файл Excel.
df.to_excel("countryAll.xlsx", encoding='cp1251')

In [3]:
# 1.3	Выбора данных с использованием позиции индекса.
df[0:7]

In [4]:
# 1.4	Выбора данных по метке.
df.loc[]

In [5]:
# 1.5	Замены нулевых значений медианой.
df.loc[data.name == 0, 'name'] = mean_name

In [6]:
# 1.6	Переименования столбцов.
df.rename(columns={'old_name_1': 'new_name_1', 'old_name_2': 'new_name_2'}, inplace=True)

In [7]:
# 1.7	Получения количества строк и столбцов в DataFrame.
len(df.index) 
len(df.columns)

In [8]:
# 1.8	Преобразования в широкоформатный формат с помощью функции поворота.
# ваш код

In [9]:
# 1.9	Выполнения внутреннего соединения двух таблиц.
fur.merge(fur_quantity)

In [10]:
# 1.10	Изменение типа данных серии.
df.to_numeric()

# **ЗАДАНИЕ 2**
Функция **df.describe()** возвращает следующие сводные статистические значения: количество, минимум, максимум, стандартное отклонение, процентили и средние значения.

In [ ]:
# 2.1 Какой параметр вы бы добавили, чтобы получить следующее:
# количество уникальных значений, значение, которое встречается чаще всего,
# и частота этого значения?

obj.unique()
obj.value_counts()
get_indexer

# **ЗАДАНИЕ  3**
Импортируйте «**subset-covid-data.csv**» в **DataFrame**. Выберите следующие данные:

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.integrate import odeint

In [12]:
from google.colab import files
uploaded = files.upload()

Saving subset-covid-data.csv to subset-covid-data.csv

In [97]:
data_csv = pd.read_csv("subset-covid-data.csv", sep=',')
df = data_csv

In [98]:
# 3.1	Столбцы  'country'  и 'continent'.

print(df[['country', 'continent']])

         country continent
0    Afghanistan      Asia
1        Albania    Europe
2        Algeria    Africa
3        Andorra    Europe
4         Angola    Africa
..           ...       ...
201    Venezuela   America
202      Vietnam      Asia
203        Yemen      Asia
204       Zambia    Africa
205     Zimbabwe    Africa

[206 rows x 2 columns]

In [99]:
# 3.2	Установите столбец 'country' в качестве индекса и извлеките численность населения, 
# для страны “Algeria” с помощью индексаторов at или loc.

df.index = df['country']
df.drop(('country'), axis=1, inplace=True)
df

            continent        date  day  ...  deaths  country_code  population
country                                 ...
Afghanistan      Asia  2020-04-12   12  ...       3           AFG  37172386.0
Albania        Europe  2020-04-12   12  ...       0           ALB   2866376.0
Algeria        Africa  2020-04-12   12  ...      19           DZA  42228429.0
Andorra        Europe  2020-04-12   12  ...       2           AND     77006.0
Angola         Africa  2020-04-12   12  ...       0           AGO  30809762.0
...               ...         ...  ...  ...     ...           ...         ...
Venezuela     America  2020-04-12   12  ...       0           VEN  28870195.0
Vietnam          Asia  2020-04-12   12  ...       0           VNM  95540395.0
Yemen            Asia  2020-04-12   12  ...       0           YEM  28498687.0
Zambia         Africa  2020-04-12   12  ...       0           ZMB  17351822.0
Zimbabwe       Africa  2020-04-12   12  ...       0           ZWE  14439018.0

[206 rows x 9 columns]

In [100]:
df.loc['Algeria', 'population']

42228429.0

In [101]:
# 3.4	Выберите значение в 50-й строке и 3-м столбце с помощью iloc или индексатора iat.

df.iloc[50, 3]

4

In [126]:
# 3.4	Получите код страны и данные о населении последних трех записей.

df_3_last =df[len(df)-3:len(df)]
df_3_last[['country_code', 'population']]

         country_code  population
country
Yemen             YEM  28498687.0
Zambia            ZMB  17351822.0
Zimbabwe          ZWE  14439018.0

In [128]:
# 3.5	Выберите данные для стран с большим населением: более 2,5 миллионов, а количество заболевших - более 3000.

df_m = df[df["population"] > 2500000]
df_m[df_m["cases"] > 3000]

                         continent        date  ...  country_code   population
country                                         ...
France                      Europe  2020-04-12  ...           FRA   66987244.0
Italy                       Europe  2020-04-12  ...           ITA   60431283.0
Spain                       Europe  2020-04-11  ...           ESP   46723749.0
Turkey                        Asia  2020-04-12  ...           TUR   82319724.0
United_Kingdom              Europe  2020-04-12  ...           GBR   66488991.0
United_States_of_America   America  2020-04-12  ...           USA  327167434.0

[6 rows x 9 columns]

# **ЗАДАНИЕ 4**
Импортируйте данные для файла «**subset-covid-data.csv**» в DataFrame и напишите код для следующего:

In [129]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.integrate import odeint

In [130]:
from google.colab import files
uploaded = files.upload()

Saving subset-covid-data.csv to subset-covid-data (1).csv

In [152]:
data_csv = pd.read_csv("subset-covid-data.csv", sep=',')
df = data_csv

In [154]:
# 4.1. Удалить столбец «country_code».

df.drop(('country_code'), axis=1, inplace=True)

In [157]:
# 4.2. Вставить этот столбец обратно.

In [141]:
# 4.3. Удалить первые три строки.

df.drop([0,1,2])

                 country continent        date  ...  cases  deaths  population
3                Andorra    Europe  2020-04-12  ...     21       2     77006.0
4                 Angola    Africa  2020-04-12  ...      0       0  30809762.0
5               Anguilla   America  2020-04-12  ...      0       0         NaN
6    Antigua_and_Barbuda   America  2020-04-12  ...      0       0     96286.0
7              Argentina   America  2020-04-12  ...    162       7  44494502.0
..                   ...       ...         ...  ...    ...     ...         ...
201            Venezuela   America  2020-04-12  ...      0       0  28870195.0
202              Vietnam      Asia  2020-04-12  ...      4       0  95540395.0
203                Yemen      Asia  2020-04-12  ...      0       0  28498687.0
204               Zambia    Africa  2020-04-12  ...      0       0  17351822.0
205             Zimbabwe    Africa  2020-04-12  ...      3       0  14439018.0

[203 rows x 9 columns]

In [156]:
#  4.4. Добавить удаленные первые три строки обратно.

# **ЗАДАНИЕ 5**
Следующий DataFrame записывает изменение веса четырех человек:
![Снимок.JPG]()

In [158]:
#   5.1. Создайте из таблицы  DataFrame.

import pandas as pd
df = pd.DataFrame({
    'Anna': [51.0, 52.0, 51.4, 52.8, 50.5  ],
    'Ben': [70.0, 70.5,69.1, 69.8, 70.5],
    'Carole': [64.0, 64.2, 66.8, 66.0, 63.4],
    'Dave': [81.0, 81.3, 80.5, 80.9, 81.4],
})

df

   Anna   Ben  Carole  Dave
0  51.0  70.0    64.0  81.0
1  52.0  70.5    64.2  81.3
2  51.4  69.1    66.8  80.5
3  52.8  69.8    66.0  80.9
4  50.5  70.5    63.4  81.4

In [ ]:
#  5.2. Преобразуйте этот DataFrame в tidy format.

# ваш код

In [ ]:
#  5.3. Определите, у кого из этих четырех человек было меньше всего колебаний по весу.

# ваш код

In [ ]:
#  5.4. Для людей, чей средний вес менее 65 кг, пересчитайте их
#  вес (за все четыре дня) в фунтах и отобразить эти данные.

# ваш код